*{
    margin: 0px;
}
body {
    background-color: hsl(0, 0%, 95%);
}
.box {
    display: flex;
    margin: auto;
    margin-top: 8rem;
    justify-content: center;
}
.left_box {
    padding: 3rem;
    background-color: hsl(31, 77%, 52%);
    max-width: 10rem;
    height: auto;
    border-radius: 0.5rem 0 0 0.5rem;
}
.mid_box {
    background-color: hsl(184, 100%, 22%);
    max-width: 10rem;
    height: auto;
    padding: 3rem;
}

.right_box {
    background-color: hsl(179, 100%, 13%);
    max-width: 10rem;
    height: auto;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 3rem;
}

.img {
    max-width: 3.3rem;
}

.h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2rem;
    margin: 1.5rem 0 1.5rem 0;
}

.para {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.75rem;
    line-height: 1.5rem;
    justify-content: center;
    font-weight: 500;

}

.footer1,
.footer2,
.footer3 {
    border: solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 4rem;
    padding: 0.6rem 0.8rem ;
    width: 6rem;
    border-radius: 3rem;
}

.footer1:hover {
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
}

.footer2:hover {
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
}

.footer3:hover {
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
}
@media screen and (max-width: 440px) {
    
    body{
        padding: 2rem;
    }
    .box{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .left_box, .mid_box, .right_box{
        max-width: 800px;
    }
    .left_box{
        border-radius: 0.5rem 0.5rem 0 0 ;
    }
    .right_box{
        border-radius: 0 0 0.5rem 0.5rem;
    }
    .footer1, .footer2, .footer3{
        margin-top: 1rem;
    }
   
}



